<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Fejlesztéskor a helyi szerver sima HTTP-n fut (10.0.2.2 / LAN). -->
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />
</manifest>
